#tableHeaderRow {
  display: flex;
  border-radius: 1.2vw;
}

.tableHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.1vw solid;
  display: flex;
  background-color: #D0111E;
  font-size: 1vw;
  height: 5vw;
  width: 20vw;
  color: #DDE6ED;
}
