#matchView {
  background-color: yellow;
  display: flex;
  justify-content: space-around;
  height: 50vw;
}

#scoreBoard{
  background-color: yellow;
  display: flex;
  flex-direction: column;
}

#matchDetails{
  border: 1px solid;
}

#matchInfoPane{
  font-size: 1.5vw;
  list-style-type: none;
}

#matchInfoPaneHeader{
  display: flex;
  flex-direction: column;
  height: 12vw;
  font-size: 1vw;
  background-color: #1893D2;
  justify-content: center;
  padding: 1vw;
  align-items: center;
}

#matchInfoPaneFooter{
  font-size: 1vw;
}

#score{
  display:flex;
  justify-content: space-between;
  background-color: white;
  font-size: 1.5vw;
}

.footerLi{
  list-style-type: none;
  text-transform: uppercase;
}

.numberScore{
  display: flex;
  justify-content: center;
  width: 12.5vw;
  border: 1px solid;
}

.matchTeamPane{
  background-color:white;
  align-items: center;
  width: 45vw
}

.event {
  margin: 10px 10px 10px 10px;
}

.event li{
  list-style-type : none;
}

.teamNameHeader {
  display:flex;
  justify-content: center;
  background-color: #1893D2;
  color: white;
  border: 0.1vw solid;
  border-color: black;
}

.teamNameHeader h1{
  font-size: 2vw;
}

.goalList{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 1px solid;
  height: 10vw;
}

.goalList p{
  font-size: 0.8vw;
  height: 0.3vw;
  text-transform: uppercase;
}

.player {
  margin-left: 1.9vw;
  font-size: 1vw;
}

.playerEntry{
  display: flex;
  height: 2.5vw;
  align-items: center;
}

.categoryHeader{
  display: flex;
  justify-content: center;
  font-size: 1vw;
  text-decoration: underline;
}

.subText{
  margin-left: 1.8vw;
  font-size: 0.85vw;
  font-style: italic;
  text-transform: uppercase;
}

.card{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 1.1vw;
  width: 4vw;

}

.yellow-card{
  background-color: yellow;
  border: 0.1vw solid;
  height: 0.6vw;
  padding: 0.3vw;
  width: 0.3vw;
}

.red-card{
  background-color: red;
  border: 1px solid;
  width: 0.7vw;
  height: 1vw;
}

.playerText{
  display: flex;
  text-transform: uppercase;
}

.lineUp {
  border-left: 1px solid;
}

.cards{
  display: flex;
  justify-content: center;
  border: 1px solid;
  font-size: 0.8vw;
  align-items: center;
}

.subs{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 10vw;
  border:1px solid;
  font-size: 0.5vw;
}
