#matchView {
  background-color: yellow;
  display: flex;
  justify-content: space-around;
}

#matchDetails {
  background-color: black;
  display: flex;
  justify-content: space-around;
}

#score{
  display:flex;
  justify-content: space-around;
  background-color:white;
  height: 7.7vw;
  font-size: 1.5vw;
}

.numberScore{
  display: flex;
  justify-content: center;
  width: 9vw;
  border: 1px solid;
}

.matchTeamPane{
  background-color:white;
  align-items: center;
}

.event {
  margin: 10px 10px 10px 10px;
}

.event li{
  list-style-type : none;
}

.teamNameHeader {
  display:flex;
  justify-content: center;
  background-color: #1893D2;
  color: white;
  width: 30vw;
  border: 0.1vw solid;
  border-color: black;
}

.teamNameHeader h1{
  font-size: 2vw;
}

.goalList{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 1px solid;
  height: 10vw;
}

.goalList p{
  font-size: 0.8vw;
  height: 0.3vw;
}

.player {
  margin-left: 1.9vw;
  font-size: 1vw;
}

.lineUpHeader{
  display: flex;
  justify-content: center;
  font-size: 0.5vw;
  text-decoration: underline;
}

.subText{
  display: flex;
  margin-left: 1.8vw;
  font-size: 0.85vw;
  font-style: italic;
  text-transform: uppercase;
}

.playerText{
  text-transform: uppercase;
}

.lineUp {
  border-left: 1px solid;
}

.cards{
  display: flex;
  justify-content: center;
  border: 1px solid;
  font-size: 0.8vw;
}

.subs{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 10vw;
  border:1px solid;
  font-size: 0.5vw;
}
