.match {
  display: flex;
  justify-content: center;
  background-color: #1893D2;
  color: #F4EDD3;
  width: 100vw;
}

.match:hover {
  background-color: #C9B274;
  opacity: 0.95;
  filter: alpha(opacity=50);
}

.column {
  display: flex;
  justify-content: center;
  width: 20vw;
  font-size: 0.8vw;
  text-align: center;
  padding: 0.5vw;
  border-top: 0.1vw solid;
  border-right: 0.1vw solid
}
