#tableHeaderRow {
  display: flex;
  justify-content: center;
  background-color: blue;
  color: white;
  width: 100vw;
}

.tableHeading {
  display: flex;
  justify-content: center;
  background-color: black;
  width: 20vw;
  font-size: 1.3vw;
}
