#tableHeaderRow {
  display: flex;
  justify-content: center;
  background-color: #F4EDD3;
  width: 100vw;
}

.tableHeading {
  display: flex;
  justify-content: center;
  background-color: #D0111E;
  width: 100vw;
  border-right: 0.1vw solid;
  padding: 1.2vw;
  font-size: 1.7vw;
  color: #DDE6ED;
}
