.match {
  display: flex;
  border-style: solid;
  justify-content: center;
  border-width: 1px;
  background-color: yellow;
  width: 100vw;
}

.column {
  width: 20vw;
  font-size: 1vw;
  list-style-type: none;
  height: 1vw;
  text-align: center;
  padding: 2vw;
  margin: 1px;
}
