body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  background-color: goldenrod;
}

li {
  height: 6vw;
  color: black;
  width: 45vw;
  border-style: solid;
  border-width: 2px;
}
